

body{
    background-color: #EDEDED; 
}

.navbar{
    max-height: 50px; 
	background-color: #cacccb; 
    font-size: 15px; 
}

.navigation .navbar-brand{
	color: white; 
	margin-left: 50px; 
	padding: inherit; 
	font-weight: bold; 
	background-color: #38ab87;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.dropdown-item{
    color: #141616; 
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active{
    background-color:#adc7c4; 
}

.nav-link:hover{
	background-color:#adc7c4;
	
}

/* Media  */
@media (max-width: 991.98px){
.navbar-expand-lg{
	background-color: #ddf0ea;
}
.navbar{
    max-height: none; 
    padding: inherit;
}
.navbar div{
    margin: inherit; 
    background-color: white;  
}
.navbar-brand{
    padding: 10px; 
}

button{
    margin-left: auto; 
}

button:focus {
    outline: 1px dotted;
}
}

.image-content {
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 10px 0px 1px;
	color: black;
	background-color: white;
}

.title {
	padding-top: 20px;
	padding-left: 4px;
	color: #78a797;
	font-size: 20px;
	font-weight: bold;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.image-title {
	padding-top: 15px;
	padding-left: 4px;
	color: #78a797;
	font-size: 16px;
	font-weight: bold;
	font-family: Georgia, Times, "Times New Roman", serif;
}
img{
	width: 100%;
	height: 100%;
}

.description-image {
	float: left;
	width: 60%;
	height: 60%;
}

#p{
	color: #131414;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	
}

.image-photo:hover{
    border-color:#979998;
    border-style: solid; 
}

.footer{
	background-color: white; 
    border-top-style: solid; 
    border-top-width: 6px; 
    border-top-color: #979998;
    color: black; 
    min-height: 50px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    text-align: center; 
    position: fixed;
    padding-top: 5px; 
	width: 100%;
	left: 0;
	bottom: 0;
}

.dataframe-content {
	color: black;
	background-color: white;
	
}